.hello{
    color: aquamarine;
}
body{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
.parent{
    height: 100px;
    width: 100px;
    display: flex;
}
.child{
    height: 50px;
    width: 50px;
    margin: auto;
}